/*******************************************************************************
 * Licensed Materials - Property of IBM
 *
 * OpenPages GRC Platform (PID: 5725-D51)
 *
 * © Copyright IBM Corporation  2021 - CURRENT_YEAR. All Rights Reserved.
 *
 * US Government Users Restricted Rights- Use, duplication or
 * disclosure restricted by GSA ADP Schedule Contract with IBM Corp.
 *******************************************************************************/
@import '../vars.scss';

.op-example-container {
  margin-top: $spacing-06;
}

.op-example-links {
  nav {
    margin-bottom: $spacing-06;
  }

  ul li {
    display: inline;
  }

  a {
    margin-right: $spacing-06;
  }
}